html, body, form {
	height: 100%;
	text-align: center;
}

body
{
	margin: 0;
	padding: 0;	
	/*background: transparent url(_images/background.jpg) no-repeat 0 50px;*/
	background: transparent url(_images/background_verlauf.jpg) repeat-x 0 50px;
	color: #000000;
}

table 
{
    border-collapse: collapse;
    border: none 0px;
    padding: 0;
    margin: 0;
}

img
{
    border: none 0px;
    padding: 0;
    margin: 0;
}

hr
{
    border: none;
    height: 1px;
    color: #FFFFFF;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6
{
    color: #FFFFFF;
}

object:focus,
img:focus,
a:focus
{
    outline: none;
}

td
{
    vertical-align: top;
}

td.field 
{
    width: 320px;
}

td.fieldlabel
{
    width: 140px;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.framed 
{
    background-color: #E7F0F3;
    border: solid 1px #1B6B8B;
    padding: 10px;
    width: 440px;
    color: #000000;
}

.framed h1, .framed h2, .framed h3, .framed h4, .framed h5, .framed h6
{
    color: #1B6B8B;
} 

ul 
{
	margin-left: 30px;
    list-style-type: none;
    list-style-image: url(_images/img_bullet.gif);
    color: #000000;
}

.odd
{
    background-color: #FFFFFF;
}

.even
{
    background-color: #E7F0F3;
}