<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="supportedLanguages" requirePermission="false" type="System.Configuration.SingleTagSectionHandler"/>
	</configSections>

	<appSettings>
		<add key="version" value="1.3.1"/>
	</appSettings>

	<connectionStrings/>

	<supportedLanguages languages="de,en,pt,ar,cs,es,pl,fr,el,nl,ru,sk,zh,he,fi,tr"/>
	
	<system.web>
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0"/>

		<httpRuntime maxRequestLength="102400" />

		<compilation debug="false" batch="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="500000"  protection="All" name=".ASPXFORMSAUTH"/>
		</authentication>

		<customErrors mode="On"/>

		<membership defaultProvider="CustomXmlMembershipProvider">
			<providers>
				<clear/>
				<add name="CustomXmlMembershipProvider" type="MyWebPagesStarterKit.Providers.CustomXmlMembershipProvider" maxInvalidPasswordAttempts="3" passwordAttemptWindow="5" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="3" passwordStrengthRegularExpression="" enablePasswordReset="true" enablePasswordRetrieval="true" requiresQuestionAndAnswer="True" requiresUniqueEmail="true"/>
			</providers>
		</membership>
		<roleManager defaultProvider="CustomRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="CustomRoleProvider" type="MyWebPagesStarterKit.Providers.CustomRoleProvider"/>
			</providers>
		</roleManager>
		<siteMap defaultProvider="CustomXmlSitemapProvider">
			<providers>
				<clear/>
				<add name="CustomXmlSitemapProvider" type="MyWebPagesStarterKit.Providers.CustomXmlSitemapProvider" securityTrimmingEnabled="true" siteMapFile="~/App_Data/Web.sitemap"/>
			</providers>
		</siteMap>
	</system.web>
	<location path="Administration">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
