/* LinkList */
div.linkitem
{
}

div.linkitem a 
{
}

/* DownloadList */
div.downloaditem
{
}

div.downloaditem a 
{
}

/* EventList */
div.eventcontent 
{
}

div.eventcontent date
{
}

tr.pastevent td, tr.pastevent td a, tr.pastevent td a:link, tr.pastevent td a:visited, tr.pastevent td a:active, tr.pastevent td a:hover
{
}

/* NewsList */
div.newscontent 
{
}

div.newscontent date
{
}

/* gallery */
td.gallerycell 
{
}

td.gallerycell td.imagecell
{
}

td.gallerycell td.buttoncell
{
}

div.gallerydetails 
{
}

/* guestbook */
div#guestbookentries
{
    max-height: 200px;
    height: expression(this.scrollHeight > 200? "200px" : "auto" );
    overflow: auto;
}

div#guestbookentries span.date
{
}

div#guestbookentries span.author
{
    padding-left: 10px;
}

div#guestbookentries div.entry
{
}

div#guestbookentries div.odd  
{
    width: 100%;
    background-color: #F3F3EE;
}

div#guestbookentries div.even
{
    width: 100%;
    background-color: #FFFFFF;
}

div#guestbookentries div.even div.pad, div#guestbookentries div.odd div.pad
{
    word-wrap: break-word;
}

.odd  
{
}

.even
{
}

/* Blog Entries */
table.search td
{
}

table.search td.separator
{
}

table.search td.searchtitle
{
}

td.blogcell table.entry
{
}

td.blogcell
{
	padding-bottom: 10px;
}

td.blogcell td.title
{
    padding: 8px;
}

td.blogcell td.title a
{
}

td.blogcell td.content
{
}

td.blogcell td.footer
{
}

/* Blog Detail */
table.blogDetail
{
}

table.blogDetail td.title
{
}

table.blogDetail td.content
{
}

table.blogDetail td.footer
{
}

/* Blog Comments */
div.CommentTitle
{
}

td.commentcell
{
}

td.commentcell table.even
{
	background-color: #F3F3EE;
}

td.commentcell table.odd
{
	background-color: #FFFFFF;
}

td.commentcell td.title
{
}

td.commentcell td.content
{
}

td.commentcell td.footer
{
}

/* Blog Form */
td.blogTitle
{
}

td.blogField
{
}

input.textboxBlog 
{
}

/* Tags Popup */
.keys
{
}

.keys td.close
{
}

.keys td.close a
{
}

.tagTitle
{
}

.tagFrame
{
}

.tagListItem td
{
}

/* TagCloud */
table.tagcloud
{
	width: 60%;
}

.tagcloud td.title
{
}

.tagcloud td.tags
{
}

ul.tagcloudlist
{
}

ul.tagcloudlist li
{
}

.cloud1, .cloud2, .cloud3, .cloud4, .cloud5, .cloud6, .cloud7, .cloud8, .cloud9, .cloud10 {
  margin: 0;
  padding: 0;
  display:inline;
}

.cloud1 a:link, .cloud1 a:visited, .cloud1 a:active {
	margin-right: 6px;
	color: #000000;
	font-size: 100%;	
	font-weight: 100;
}

.cloud2 a:link, .cloud2 a:visited, .cloud2 a:active{
	margin-right: 6px;
	color:  #000000;
	font-size: 110%;	
	font-weight: 200;
}

.cloud3 a:link, .cloud3 a:visited, .cloud3 a:active {
	margin-right: 6px;
	color:  #000000;
	font-size: 120%;	
	font-weight: 300;
}

.cloud4 a:link, .cloud4 a:visited, .cloud4 a:active{
	margin-right: 6px;
	color: #000000;
	font-size: 130%;	
	font-weight: 400;
}

.cloud5 a:link, .cloud5 a:visited, .cloud5 a:active {
	margin-right: 6px;
	color: #000000;
	font-size: 150%;
	font-weight: 500;
}

.cloud6 a:link, .cloud6 a:visited, .cloud6 a:active {
	margin-right: 6px;
	color: #000000;
	font-size: 160%;
	line-height: 110%;
	font-weight: 600;
}

.cloud7 a:link, .cloud7 a:visited, .cloud7 a:active {
	margin-right: 6px;
	color: #000000;
	font-size: 170%;
	line-height: 130%;
	font-weight: 700;
}

.cloud8 a:link, .cloud8 a:visited, .cloud8 a:active {
	margin-right: 6px;
	color: #000000;
	font-size: 180%;
	line-height: 150%;
	font-weight: 800;
}

.cloud9 a:link, .cloud9 a:visited, .cloud9 a:active {
	margin-right: 6px;
	color: #000000;
	font-size: 190%;
	line-height: 170%;
	font-weight: 900;
}

.cloud10 a:link, .cloud10 a:visited, .cloud10 a:active {
	margin-right: 6px;
	color: #000000;
	font-size: 200%;
	line-height: 190%;
	font-weight: 900;
}

/* Tag Calendar */
.calendarStyle
{
}

.calendarStyle a
{
}

.calendarTitle
{
}

.calendarHeader
{
}

.calendarDay
{
}

/* Blogroll */
div.blogrollitem
{
}

div.blogrollitem a 
{
}

div.blogrollitem a:hover
{
}
