<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="UserTable" msdata:Locale="en-AU">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="UserTable">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="PKID" msdata:DataType="System.Guid, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="xs:string" minOccurs="0" />
                <xs:element name="Username" type="xs:string" minOccurs="0" />
                <xs:element name="ApplicationName" type="xs:string" minOccurs="0" />
                <xs:element name="Email" type="xs:string" minOccurs="0" />
                <xs:element name="Comment" type="xs:string" minOccurs="0" />
                <xs:element name="Salt" type="xs:string" minOccurs="0" />
                <xs:element name="Password" type="xs:string" minOccurs="0" />
                <xs:element name="IsApproved" type="xs:boolean" minOccurs="0" />
                <xs:element name="LastActivityDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="LastLoginDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="LastPasswordChangedDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="IsOnLine" type="xs:boolean" minOccurs="0" />
                <xs:element name="IsLockedOut" type="xs:boolean" minOccurs="0" />
                <xs:element name="LastLockedOutDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="FailedPasswordAttemptCount" type="xs:int" minOccurs="0" />
                <xs:element name="FailedPasswordAttemptWindowStart" type="xs:dateTime" minOccurs="0" />
                <xs:element name="FailedPasswordAnswerAttemptCount" type="xs:int" minOccurs="0" />
                <xs:element name="FailedPasswordAnswerAttemptWindowStart" type="xs:dateTime" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <UserTable>
    <PKID>19513dbe-0d8b-42b3-a73d-f681ac0e28cb</PKID>
    <Username>admin</Username>
    <ApplicationName>/portal</ApplicationName>
    <Email>you@your-domain.xyz</Email>
    <Comment />
    <Salt>nBjC0Wm/</Salt>
    <Password>3M1kipQY8Mi4XkOzMfA9PdlIuYQ=</Password>
    <IsApproved>true</IsApproved>
    <LastActivityDate>2014-05-30T16:19:49.6624295+10:00</LastActivityDate>
    <LastLoginDate>2014-05-30T16:19:49.6594273+10:00</LastLoginDate>
    <LastPasswordChangedDate>2014-05-28T17:15:46.6885309+10:00</LastPasswordChangedDate>
    <CreationDate>2014-05-28T17:15:46.6885309+10:00</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T00:00:00+11:00</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
  <UserTable>
    <PKID>a619771d-57ea-45ff-8098-c2f9bb0a59c2</PKID>
    <Username>associate</Username>
    <ApplicationName>/portal</ApplicationName>
    <Email>associate@portal.com</Email>
    <Comment>pls login</Comment>
    <Salt>a3c1oC0f</Salt>
    <Password>TQ2x3eXWYKYvZQRrTxzr6fffNPk=</Password>
    <IsApproved>true</IsApproved>
    <LastActivityDate>2014-05-28T21:32:22.9597147+10:00</LastActivityDate>
    <LastLoginDate>2014-05-28T21:32:22.9597147+10:00</LastLoginDate>
    <LastPasswordChangedDate>2014-05-28T21:30:08.9189917+10:00</LastPasswordChangedDate>
    <CreationDate>2014-05-28T21:30:08.9189917+10:00</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T11:00:00+11:00</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
  <UserTable>
    <PKID>cb54e02b-6994-4519-94c2-c14adc553c5a</PKID>
    <Username>associate1</Username>
    <ApplicationName>/portal</ApplicationName>
    <Email>associate1@portal.com</Email>
    <Comment>better</Comment>
    <Salt>v//wR6V2</Salt>
    <Password>w5lNfQAHyJCiJOk1tRvPcxf6ffY=</Password>
    <IsApproved>true</IsApproved>
    <LastActivityDate>2014-05-28T21:39:43.6606482+10:00</LastActivityDate>
    <LastLoginDate>2014-05-28T21:39:43.6606482+10:00</LastLoginDate>
    <LastPasswordChangedDate>2014-05-28T21:39:43.6606482+10:00</LastPasswordChangedDate>
    <CreationDate>2014-05-28T21:39:43.6606482+10:00</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T11:00:00+11:00</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
  <UserTable>
    <PKID>b360e46c-7a19-477f-845b-9d0e73c4e06b</PKID>
    <Username>abhinn</Username>
    <ApplicationName>/portal</ApplicationName>
    <Email>abhinn@portal.com</Email>
    <Comment>fresh</Comment>
    <Salt>uJ1Gpl+i</Salt>
    <Password>vd5fs6/tjNEmdSOBYjHoip8U1+k=</Password>
    <IsApproved>false</IsApproved>
    <LastActivityDate>2014-05-28T22:06:23.2460739+10:00</LastActivityDate>
    <LastLoginDate>2014-05-28T22:06:23.2460739+10:00</LastLoginDate>
    <LastPasswordChangedDate>2014-05-28T22:06:23.2460739+10:00</LastPasswordChangedDate>
    <CreationDate>2014-05-28T22:06:23.2460739+10:00</CreationDate>
    <IsOnLine>true</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T11:00:00+11:00</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
  <UserTable>
    <PKID>000b0a57-cf37-4e05-91d6-af1bb71ff31a</PKID>
    <Username>test</Username>
    <ApplicationName>/portal</ApplicationName>
    <Email>test@test.com</Email>
    <Comment />
    <Salt>R2WFOZTU</Salt>
    <Password>fTa4qu0oraAAJzBd5tGk1JET9tM=</Password>
    <IsApproved>true</IsApproved>
    <LastActivityDate>2014-05-28T22:11:26.4989421+10:00</LastActivityDate>
    <LastLoginDate>2014-05-28T22:11:26.4989421+10:00</LastLoginDate>
    <LastPasswordChangedDate>2014-05-28T22:11:26.4989421+10:00</LastPasswordChangedDate>
    <CreationDate>2014-05-28T22:11:26.4989421+10:00</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T00:00:00+11:00</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+11:00</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
</NewDataSet>