<?xml version="1.0"?>
<WebSiteData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <HomepageId>cef7a9d4-0d53-4876-a625-e2af44acf32a</HomepageId>
  <Theme>TravelDiary</Theme>
  <Language>en-GB</Language>
  <SmtpServer>localhost</SmtpServer>
  <SmtpUser />
  <SmtpPassword />
  <SmtpDomain />
  <FooterText>all rights reserved. copyright © 2014 SAIMEX</FooterText>
  <WebSiteTitle>saimex international</WebSiteTitle>
  <Keywords />
  <Description />
  <EnableSectionRss>false</EnableSectionRss>
  <MailSenderAddress>answer@saimex.com.au</MailSenderAddress>
  <EnableIE8CompatibilityMetatag>false</EnableIE8CompatibilityMetatag>
  <AllowUserSelfRegistration>true</AllowUserSelfRegistration>
  <EnableVersionChecking>false</EnableVersionChecking>
</WebSiteData>