<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/Homepage.aspx</VirtualPath>
  <NavigationName>Home</NavigationName>
  <Title />
  <Description />
  <Keywords />
  <Sections>
    <string>6780f206-15e1-4e53-bbfb-0ab13e894634</string>
  </Sections>
</WebPageData>