<?xml version="1.0"?>
<ContactFormData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EmailTo>ajeetkumar@email.com</EmailTo>
  <EmailCc>madangaindhar@mail.com</EmailCc>
  <Subject>Enquiry</Subject>
  <Introtext />
  <Thankyoutext>Thanks for your enquiry. We shall shortly contact you.&lt;div&gt;Saimex International&lt;/div&gt;</Thankyoutext>
</ContactFormData>