div#head
{
    background: Transparent url(_images/img_header.jpg) no-repeat top left;
    height: 165px;
    width: 771px;
    text-align: right;
    position: relative;
    top: 0px;
    left: 0px;
}

div#utilities
{
	height: 16px;
	line-height: 16px;
	padding-right: 22px;
	vertical-align: middle;
}

div#utilities a
{
    color: #B0CBD7;
    text-decoration: none;
    text-transform: uppercase;
}

div#websiteTitle
{
    position: absolute;
    top: 40px;
    right: 24px;
	color: #FFFFFF;
	font-size: 48px;
	z-index: 2;
}

div#websiteTitleShadow
{
    position: absolute;
    top: 42px;
    right: 22px;
	color: #000000;
	font-size: 48px;
	z-index: 1;
	opacity: 0.20;
	filter: alpha(opacity=20);
    -moz-opacity: 0.20;
}

div#navigation
{
    width: 720px;
    height: 23px;
    padding-left: 51px;
    background: Transparent url(_images/nav_bg.gif) repeat-x top left;
    text-align: left;
    padding-top: 12px;
}

table#mainTable
{
    text-align: left;
    width: 771px;
    background-color: #B0CBD7;
    margin: 0;
    padding: 0;
}

td#contentCell
{
    padding-top: 50px;
    padding-left: 51px;
    padding-right: 20px;
    width: 462px;
}

div#breadcrumbs
{
    position: relative;
    top: -20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

div#breadcrumbs .node
{
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 5px;
}

div#breadcrumbs .currentNode
{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 5px;
}

div#breadcrumbs .separator
{
    color: #666666;
    padding-right: 5px;
}

td#sidebarCell
{
    padding-top: 69px;
    padding-left: 0px;
    padding-right: 22px;
    width: 216px;
}

div.sidebartop 
{
    display: none;
}

div.sidebar 
{
    background-color: #9EBBC8;
    padding-top: 7px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 1px #FFFFFF;
    width: 184px;
}

div.sidebarbottom
{
    display: none;
}

div.rssChannel h2
{
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.sidebar ul 
{
    margin: 0;
    padding: 0;
}

div.sidebar ul li.item
{
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 10px;
    list-style-image: url(_images/img_bullet.gif);
    list-style-type: none;
}

div.sidebar ul li.item a
{
    color: #000000;
    text-decoration: none;
}

div.sidebar ul li.item a:hover
{
    color: #FFFFFF;
}

div.sidebar ul li.sidebaritemseparator
{
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	margin-left: 0px;
	height: 10px;
}

td#footer
{
    color: #666666;
    font-size: 10px;
    padding-top: 15px;
    padding-left: 51px;
    padding-right: 22px;
    padding-bottom: 10px;
    vertical-align: top;
}

#contentContainer div.sectionsettings 
{
    margin-bottom: 5px;
    background-color: #E7F0F3;
    border: solid 1px #1B6B8B;
    padding: 3px;
    width: 454px;
}

#contentContainer div.sectionsettings table td, #contentContainer div.sectionsettings h2
{
    vertical-align: middle;
    color: #1B6B8B;
}